html,
body,
#react-root {
  height: 100%;
}

body{
  font-family: 'Press Start 2P', cursive;
  background-image: url(../Images/forest.jpg);

}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: 4px solid black;
  border-color:black;
  border-radius: 15px;
  background-color: #55b451;
  color: black;
  font-size: 1rem;
  outline: 0;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  height: 3em;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  text-decoration: none;
  color: white;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.log-user-panel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #a29ee5;
  border-radius: 10px;
  border: 5px solid black;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  margin-top: 10em;
}

input {
  margin: 5px;
  margin-bottom: 10px;
  font-family: 'Press Start 2P', cursive;
  height: 30px;
  padding-left: 10px;
}

/* --------------------------------------------------------------------------------
Admin/Teacher containers
-------------------------------------------------------------------------------- */
.teacher-home-container{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 30px;
  flex-wrap: wrap;
  display: flex;
  
}

.big-container{
  margin-bottom: 30px;
}

.student-list-container {
  border: 4px solid black;
  height: auto;
  width: auto;
  border-radius: 30px;
  background-color: white;
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  margin-bottom: 30px;;
  
}

.overviewchart-container{
  border: 4px solid black;
  height: auto;
  width: auto;
  border-radius: 30px;
  background-color: white;
  text-align: center;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 17px;

}

.key-container {
  border: 2px solid black;
  border-radius: 30px;
  margin-top: 20px;

}

.teacher-state-container{
  border: 4px solid black;
  height: auto;
  width: 550px;
  border-radius: 30px;
  background-color: white;
  text-align: center;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 300px 300px;
  justify-content: center;

}



.view-student-container{
  background-color: white;
  width: 400px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: 4px solid black;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 20px;

}


.student-chart-container{
  background-color: white;
  width: 600px;
  height: auto;
  padding-left: 20px;
  padding-bottom: 20px;
  border: 4px solid black;
  border-radius: 15px;
  margin-top: 20px;
  text-align: center;
  margin-left: 20px;

}


.edit-student-container{
  background-color: white;
  width: 600px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: 4px solid black;
  border-radius: 15px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.register{
  background-color: white;
  width: 600px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: 4px solid black;
  border-radius: 15px;
  margin: auto;
  text-align: left;
  font-size: 15px;

}

/* --------------------------------------------------------------------------------
Admin/Teacher buttons
-------------------------------------------------------------------------------- */

.teacher-yellow-btn{
  display: block;
  width: auto;
  height: 40px;
  font-weight: bold;
  text-decoration: none;
  background: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all .35s;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  border-radius: 15px;
  margin: auto;
  border: 4px solid black;
  margin-top: 40px;
}

.teacher-yellow-btn:hover{
  border: 3px solid 36d79a;
  background: #f0f090;
  color: black;
}

.teacher-blue-btn{
  margin-left: 20px;
  margin-top: 10px;
  width: auto;
  height: 40px;
  text-decoration: none;
  background: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  border-radius: 10px;
  border: 4px solid black;
}
.teacher-blue-btn:hover{
  border: 3px solid 36d79a;
  background:#89CFF0;
  color: black;
}

.teacher-purple-btn{
  margin-left: 20px;
  margin-top: 10px;
  width: auto;
  height: 40px;
  text-decoration: none;
  background: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  border-radius: 10px;
  border: 4px solid black;
}
.teacher-purple-btn:hover{
  border: 3px solid 36d79a;
  background: #a29ee5;
  color: black;
}

.teacher-green-btn{
  margin-left: 20px;
  margin-top: 10px;
  width: auto;
  height: 40px;
  text-decoration: none;
  background: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  border-radius: 10px;
  border: 4px solid black;
}
.teacher-green-btn:hover{
  border: 3px solid 36d79a;
  background:rgb(173, 217, 141);
  color: black;
}

.teacher-red-btn{
  margin-left: 20px;
  margin-top: 10px;
  width: auto;
  height: 40px;
  text-decoration: none;
  background: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  border-radius: 10px;
  border: 4px solid black;
  
}

.teacher-red-btn:hover{
  border: 3px solid 36d79a;
  background:rgb(235, 84, 84);
  color: black;
}

.teacher-orange-btn{
  margin-left: 20px;
  margin-top: 10px;
  width: auto;
  height: 40px;
  text-decoration: none;
  background: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  border-radius: 10px;
  border: 4px solid black;
  
}

.teacher-orange-btn:hover{
  border: 3px solid 36d79a;
  background:rgb(236, 174, 120);
  color: black;
}

/* --------------------------------------------------------------------------------
User/Student containers
-------------------------------------------------------------------------------- */

.student-landing-container{
  display: block;
  border-radius: 70px;
  border: 15px solid #14acf3;
  border-style: double ;
  background-color: white;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 52em;
  margin: auto;
  text-align: center;
}

.student-breathing-container{
  display: block;
  border-radius: 70px;
  border: 15px solid #14acf3;
  border-style: double ;
  background-color: white;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 52em;
  margin: auto;
  text-align: center;
}

.student-emotions-container{
  display: block;
  border-radius: 70px;
  border: 15px solid #14acf3;
  border-style: double ;
  background-color: white;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70em;
  margin: auto;
  text-align: center;
}

.emotion-container{
  display: grid;
  grid-template-columns: 170px 170px 170px 170px 170px;
  grid-row-gap: 30px;
  grid-column-gap: 40px;
  justify-content: center;

}

.student-sensations-container{
  display: block;
  border-radius: 70px;
  border: 15px solid #14acf3;
  border-style: double ;
  background-color: white;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70em;
  margin: auto;
  text-align: center;
}

.sensation-container{
  display: grid;
  grid-template-columns: 170px 170px 170px 170px 170px;
  /* grid-template-rows: 60px 60px; */
  grid-row-gap: 30px;
  grid-column-gap: 40px;
  justify-content: center;

}

.student-review-container{
  display: block;
  border-radius: 70px;
  border: 15px solid #14acf3;
  border-style: double ;
  background-color: white;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70em;
  margin: auto;
  text-align: center;
}

.student-thanks-container{
  display: block;
  border-radius: 70px;
  border: 15px solid #14acf3;
  border-style: double ;
  background-color: white;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60em;
  margin: auto;
  text-align: center;
}

/* --------------------------------------------------------------------------------
User/Student positioning
-------------------------------------------------------------------------------- */

.student-landing-bubbleposition{
  display: block;
  margin-left: 20em;

}

.student-breathing-bubbleposition{
  display: block;
  margin-left: 25em;

}
.student-emotions-bubbleposition{
  display: block;
  margin-left: 32em;

}

.student-sensations-bubbleposition{
  display: block;
  margin-left: 30em;

}

.student-review-bubbleposition{
  display: block;
  margin-left: 33em;

}

.student-thanks-bubbleposition{
  display: block;
  margin-left: 30em;

}

.student-gif{
  pointer-events: none;
}

.student-text{
  text-align: center;
  margin: 2em;
  padding-left: 3em;
  padding-right: 3em;
  display: block;
  color:black;
}

/* --------------------------------------------------------------------------------
User/Student buttons
-------------------------------------------------------------------------------- */

.student-btn{
  display: inline-block;
  width: 130px;
  height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #36d79a;
  text-align: center;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #36d79a;
  transition: all .35s;
  font-family: 'Press Start 2P', cursive;
  border-radius: 15px;
  margin: auto;
  border: 4px solid black;
  margin-top: 20px;
}

.student-btn:hover{
  width: 150px;
  border: 3px solid 36d79a;
  background:transparent;
  color: black;
}

.emotion-btn{
  height: 3.5em;
  width: 14em;
  font-family: 'Press Start 2P', cursive;
  border-radius: 20px;
  border: 4px solid black;
  font-weight: bold;
  background: #a29ee5;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all .35s;
  border-radius: 15px;
  border: 4px solid black;
  text-align: center;

}

.emotion-btn:hover{
  width: 200px;
  border: 3px solid 36d79a;
  background: #f0f090;
  color: black;
}

.sensation-btn{
  height: 3.5em;
  width: 14em;
  font-family: 'Press Start 2P', cursive;
  border-radius: 20px;
  border: 4px solid black;
  font-weight: bold;
  background: #a29ee5;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all .35s;
  border-radius: 15px;
  border: 4px solid black;
  text-align: center;

}

.sensation-btn:hover{
  width: 200px;
  border: 3px solid 36d79a;
  background: #f0f090;
  color: black;
}

.logout-btn{
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #a29ee5;
  text-align: center;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all .35s;
  font-family: 'Press Start 2P', cursive;
  border-radius: 15px;
  margin: auto;
  border: 4px solid black;
  margin-top: 50px;
}

.logout-btn:hover{
  width: 200px;
  border: 3px solid 36d79a;
  background: transparent;
  color: black;
}


.back-btn{
  margin-left: 20px;
  width: auto;
  height: 50px;
  text-decoration: none;
  background: gray;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  border-radius: 15px;
  border: 4px solid black;
  margin-right: 20px;
  text-align: center;
}

.back-btn:hover{
  border: 3px solid 36d79a;
  background:transparent;
  color: black;
  
}

/* --------------------------------------------------------------------------------
About 
-------------------------------------------------------------------------------- */
.techused-container{
  
    display: block;
    border-radius: 70px;
    border: 15px solid #14acf3;
    border-style: double ;
    background-color: white;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 20em;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    line-height: 25px;
    margin-top: 30px;

  }

.sources-container{

    display: block;
    border-radius: 70px;
    border: 15px solid #14acf3;
    border-style: double ;
    background-color: white;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60em;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    line-height: 25px;

}

.challenges-container{

  display: block;
  border-radius: 70px;
  border: 15px solid #14acf3;
  border-style: double ;
  background-color: white;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60em;
  margin: auto;
  text-align: center;
  line-height: 25px;

}

.thanks-container{
  display: block;
  border-radius: 70px;
  border: 15px solid #14acf3;
  border-style: double ;
  background-color: white;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 30em;
  margin: auto;
  text-align: center;
  line-height: 25px;
  margin-top: 50px;
}